---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/ui/Header.component.astro";
import Button from "../components/button/ui/Button.component.astro";
---

<Layout title="ENTER.CO MOBILE">
    <main>
        <Header />

        <nav class="brands_container">
            <li>
                <Button
                    type="brands-navigation"
                    id="button-brands-navigation-Apple"
                    icon="public/icons/icon-Apple.svg"
                />
            </li>
        </nav>
        <section class="container-price">
            <div class="price-filter-container">
                <input
                    id="min-price-input"
                    type="text"
                    class="price-input"
                    name="price-filter-min"
                    placeholder="Mínimo"
                    min="39000"
                    max="1200000"
                    step="1000"
                />

                <span class="separator">-</span>

                <input
                    id="max-price-input"
                    type="text"
                    class="price-input"
                    name="price-filter-max"
                    placeholder="Máximo"
                    min="39000"
                    max="1200000"
                    step="1000"
                />
            </div>
        </section>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: unset;
        width: unset;
        max-width: unset;
        .price-filter {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    .container-price {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.price-filter-container {
    display: flex;
    align-items: center;
}

.price-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

.separator {
    margin: 0 10px;
    font-size: 20px;
}


    
</style>
