---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/ui/Header.component.astro";
---

<Layout title="ENTER.CO MOBILE">
	<main>
		<Header />
		<!--
			<MainFilters/>
			<MobileStock/>
		 -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: unset;
		width: unset;
		max-width: unset;
	}
</style>
